.react-calendar {
  border: none !important;
  width: 100% !important;
  font-size: 0.9rem;
  background: #ffffffff !important; 
  color: #374151 !important; 
  border-radius: 0.75rem;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.react-calendar__navigation__label {
  color: #1e293b; /* text-gray-800 */
  font-weight: 600;
}

.react-calendar__navigation__arrow {
  color: #475569; /* text-gray-600 */
}

.react-calendar__month-view__days__day {
  color: #374151 !important; /* text-gray-700 */
  padding: 0.6rem 0 !important;
  border-radius: 0.4rem !important;
  transition: background 0.2s ease;
  background: #fff !important;
}

.react-calendar__month-view__days__day--weekend {
  color: #6b7280 !important; /* text-gray-500 */
}

.react-calendar__tile--now {
  background: #dbeafe !important; /* bg-blue-100 */
  color: #1d4ed8 !important; /* text-blue-700 */
  font-weight: 500;
}

.react-calendar__tile--active {
  background: #2563eb !important; /* bg-blue-600 */
  color: white !important;
  font-weight: 600 !important;
}

.react-calendar__tile--active:enabled:hover {
  background: #1d4ed8 !important; /* hover darker blue */
}

.react-calendar__tile:enabled:hover {
  background: #eff6ff !important; /* hover:bg-blue-50 */
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #d1d5db !important; /* text-gray-300 */
}

.reat-calendar * {
    color: inherit !important;
    background-color: transparent !important;
}